* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 900px;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    border: 2px solid black;
}

#head_container {
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 0.2rem red;
    color: red;
    background: #000;
}

.info_contacts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_contacts ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
  }
  .info_contacts a {
    color: red;
  }     styles